/* Style the list inside the menu */
.navBar{
    list-style-type: none;
    padding: 0;
}
.navBar ul {
    margin-top: -1px;
}
.navBar ul li a {
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
    text-decoration: none;
    height: 5rem;
    font-size: 25px;
}