* {
  box-sizing: border-box;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
body>#root>section>nav {
  height: 100vh;
  border-right: 1px #000 solid;
}

/* Style the header */
header {
  padding: 22px 22px 22px 28px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid;
  width: 100%;

}
div#hmenu a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

div#hmenu {
  padding-right: 10px;
  margin-top: -0.4rem;
  float: left;
  display: none;
}

section {
  position: relative;
}

article {
  float: right;
  padding: 0px 20px 20px 20px;
  width: 75%;
  height: calc(100vh-10px);
}

.navBar {
  float: left;
  width: 25%;
  padding: 20px;
  border-right: 1px;
  background-color: #F5F5F5;
  padding: 0;
  display: block;
}

.navBar.expanded {
  float: left;
  width: 80%;
  padding: 0px;
  border-right: 1px;
  background-color: #F5F5F5;
  z-index: 99;
  height: calc(100vh - 77px);
  position: absolute;
  display: none;
}

.navBar ul {
  list-style-type: none;
  margin-top: -1px;
  padding: 0;
}

.navBar ul li a {
  padding-top: 1.8rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
  height: 5rem;
  font-size: 20px;
  border-bottom: 1px solid #000;
  display: block;
  color: #000;
}
.navBar.expanded ul li a {
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
  height: 5rem;
  font-size: 25px;
  border-bottom: 1px solid #000;
  display: block;
}

/* Responsive layout - remove side menu and display hamberger menu*/
@media screen and (max-width: 768px) {
  article {
    width: 100%;
    height: calc(100vh-10px);
    position: absolute;
    z-index: 50;
  }
  
  .back-drop::after {
    content: "";
    background: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 78px;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .navBar {
    display: none;
  }

  .navBar.expanded {
    display: block;
   
  }

  div#hmenu {
    display: block;
  }
}
